:root {
  --c-background: #070D23;
  --c-fonts: #FFFFFF;
  --c-blue: #222C4F;
  --c-purple: #724CF9;
  --f-roboto: "Roboto";
  --f-inter: "Inter";
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  height: 100vh;
  color: var(--c-fonts);
  background: var(--c-background);
  font-family: var(--f-inter);
}

ul, li {
  padding: 0px;
  list-style: none;
}

img {
  display: block;
}
